# MacOS
.DS_Store

# Node
node_modules/
dist/
dist-ssr/
*.local

# Java/Maven
target/
!.mvn/wrapper/maven-wrapper.jar
/architecture-tests/target/
/architecture-tests/.settings/
/architecture-tests/.project/
/architecture-tests/.classpath/
data/
*.db
*.mv.db
*.trace.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
.settings/
.project/
.classpath/
.factorypath/

# Temporary files
/tmp/
*.log
